/* Aplicando estilo ao cabecalho com display flex de colunas */
.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600;
    padding: 4% 2% 2% 2%;
}

/* Aplicando estilo ao titulo principal do projeto */
.titulo__cabecalho {
    font-size: 2.1em;
    font-family: var(--fonte-titulo);
    text-align: center;
}

/* Aplicando estilo no menu de navegação do projeto com display flex */
.cabecalho__menu {
    display: flex;
    gap: 10px;
    margin: 1rem 0;
}

/* Aplicando estilo ao link do menu navegação removendo a decoração do link */
.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: .85rem;
    font-weight: 600px;
    color: var(--cor-tercearia);
    text-decoration: none;
}

/* Aplicando a pseudo-classe hover(passar com o mouse sobre o elemento) nas opções do menu navegação, alterando a cor e aumentando seu tamanho em escala de 1.2% */
.cabecalho__menu__link:hover {
    color: var(--cor-hover-botoes);
    transition: .6s;
    transform: scale(1.2);
}

/* Aplicando estilo a uma linha que será o separador do cabeçalho para o conteúdo principal */
.cabecalho>hr {
    margin: .1rem;
    width: 98.5vw;
    display: block;
    border: 2px solid var(--cor-secundaria);
}