/* Aplicando estilo a apresentação dos links das redes sociais */
.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

/* Aplicando estilo a fonte dos links das redes sociais */
.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

/* Aplicando a orientação dos botões das redes sociais com o display flex padrão em linha */
.orientacao__botoes__redes {
    display: flex;
    gap: 2rem;
    padding-bottom: 4%;
}

/* Aplicando borda e personalizando a apresentação do link com o logo das redes */
.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-tercearia);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

/* Aplicando hover(passar com o mouse sobre o elemento) nos botões das redes socias, alterando seu tamanho em uma escala de 1.2% em uma transição de 0.6 segundos */
.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover-botoes);
    transition: .6s;
    transform: scale(1.2);
}

/* Aplicando estilo sem margem para os icones das redes sociais */
.icone__redes {
    margin: 0;
}

/* Aplicando estilo ao conteudo dos contatos, com display grid de 2 colunas alinhadas ao centro da pagina */
.contatos__grid {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    align-items: start;
    gap: 3em;
}

/* Aplicando estilo a apresentação dos contatos por email e telefone */
.contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

/* Aplicando estilo aos textos do email e telefone nos contatos */
.apresentacao__conteudo__texto,
.link__email,
.texto__contatos {
    font-size: 1.3rem;
    font-family: var(--fonte-secundaria);
    text-align: center;
}

/* Aplicando estilo a cor da fonte e removendo a decoração do texto do email */
.link__email {
    text-decoration: none;
    color: var(--cor-tercearia);
}

/* Aplicando margem no texto do celular para ficar no padrão do página */
.celular {
    margin-top: 1rem;
}

/* Aplicando estilo ao formulário com o display flex de coluna utilizando todas as colunas do grid dos contatos */
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
    gap: 1em;
}

/* Aplicando estilo ao texto digitado pelo usuário no formulário */
.texto__formulario {
    font-size: 1.4em;
    margin: 5px;
}

/* Aplicando estilo ao botão do formulário para destacar dos demais botões da página */
.botão__formulario {
    width: 80px;
    height: 50px;
    font-size: 1.2em;
    font-weight: 700;
    background-color: var(--cor-secundaria);
}

/*  */
.botão__formulario:hover {
    background-color: var(--cor-hover-botoes);
    color: var(--cor-secundaria);
}

.botão__formulario:active {
    transform: scale(1.3);
}
