@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Great+Vibes&display=swap');

@import url('rodape.css');
@import url('cabecalho.css');
@import url('mediasquery.css');

:root {
    --cor-primaria: #03001C;
    --cor-secundaria: #B6EADA;
    --cor-tercearia: #5B8FB9;
    --cor-hover-botoes: #301E67;
    --cor-texto-rodape: #000000;

    --fonte-titulo: 'Great Vibes', cursive;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0 auto;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.apresentacao {
    padding: 2% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apresentacao__conteudo__principal {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo {
    width: 680px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apresentacao_layout {
    display: flex;
    align-items: center;
    gap: 2em;
}

.apresentacao__conteudo__titulo__principal {
    font-size: 2rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__titulo {
    font-size: 1.4rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__subtitulo {
    font-size: 1.2rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-tercearia);
}

.apresentacao__conteudo__texto,
.link__email {
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria);
    text-align: center;
}

.apresentacao__conteudo__texto__principal {
    font-size: 1.4rem;
    font-family: var(--fonte-secundaria);
}

.link__email {
    text-decoration: none;
    color: var(--cor-tercearia);
}

.apresentacao__conteudo__texto a {
    text-decoration: none;
    color: var(--cor-tercearia);
}


.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-tercearia);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover-botoes);
    transition: .6s;
    transform: scale(1.2);
}

.orientacao__botoes__redes {
    display: flex;
    gap: 2rem;
    padding-bottom: 4%;
}

.icone__redes {
    margin: 0;
}

.apresentacao__imagem {
    width: 25%;
    border-radius: 100%;
}

.lista__espacamento {
    padding: 1rem;
}

.apresentacao__imagem__portfolio {
    width: 40vh;
    border-radius: 15%;
    margin-left: 0;
}

.img__python {
    height: 5rem;
}

.img__organizador {
    margin-bottom: 0.6rem;
}

.conteudo__principal__formacao {
    display: grid;
    grid-template-columns: 500px 600px;
    justify-content: center;
    align-items: start;
    width: 700px;
    gap: 2em;

}

.conteudo__principal__portfolio {
    display: grid;
    grid-template-columns: 380px 380px 380px;
    justify-content: center;
    align-items: start;
    width: 700px;
    gap: 2em;

}

.formacoes,
.badges_cisco,
.certificado_alura {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.img_hb{
    margin: 3.2em;
}

.img_certificados_alura {
    width: 30vh;
}

.transparente {
    color: transparent;
}

.contatos__grid {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    align-items: start;
    gap: 3em;
}

.contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.celular {
    margin-top: 1rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
    gap: 1em;
}

.texto__formulario {
    font-size: 1.4em;
    margin: 5px;
}

.texto_contatos {
    font-size: 1.3rem;
}

.botão__formulario {
    width: 80px;
    height: 50px;
    font-size: 1.2em;
    font-weight: 700;
    background-color: var(--cor-secundaria);
}

.botão__formulario:hover {
    background-color: var(--cor-hover-botoes);
    color: var(--cor-secundaria);
}

.botão__formulario:active {
    transform: scale(1.3);
}



