/* Importando fontes do Google Fontes para o projeto */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/* Importando os arquivos css do projeto para o arquivo estilos.css */
@import url('cabecalho.css');
@import url('index.css');
@import url('formacao.css');
@import url('portfolio.css');
@import url('contatos.css');
@import url('rodape.css');
@import url('mediasquery.css'); 

/* Declarando variáveis com padrão de cores e fontes */
:root {
    --cor-primaria: #03001C;
    --cor-secundaria: #B6EADA;
    --cor-tercearia: #5B8FB9;
    --cor-hover-botoes: #301E67;
    --cor-texto-rodape: #000000;

    --fonte-titulo: 'Great Vibes', cursive;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

/* Eliminado margin e padding do arquivo html */
* {
    margin: 0 auto;
    padding: 0;
}

/* Aplicando plano de fundo e cor padrão das fontes */
body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
