/* Aplicando estilo a apresentação principal do projeto */
.apresentacao {
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Aplicando estilo e definindo diplay flex como coluna dentro de um espaçamento de 100% da tela */
.apresentacao__conteudo__principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Aplicando estilo ao layout do titulo da página sobre mim */
.apresentacao_layout {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Aplicando estilo a imagem de perfil com borda totalmente arredondada e um tamanho de 25% da proporção da imagem*/
.apresentacao__imagem {
    width: 25%;
    border-radius: 100%;
}

/* Aplicando estilo ao titulo principal da página sobre mim */
.apresentacao__conteudo__titulo__principal {
    font-size: 2.4vh;
    font-family: var(--fonte-primaria);
}

/* Aplicando estilo de destaque com cor diferente do texto principal */
.titulo__destaque {
    color: var(--cor-tercearia);
}

/* Aplicando estilo ao texto principal da página principal do projeto */
.apresentacao__conteudo__texto__principal {
    font-size: .9rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
}