@media (min-width: 375px) {
    .titulo__cabecalho {
        font-size: 2.5rem;
    }

    .cabecalho__menu__link {
        font-size: .9rem;
    }

    .cabecalho__menu {
        gap: 20px;
    }

    .apresentacao__conteudo__titulo__projetos {
        font-size: 1rem;
    }

    .apresentacao__links__navegacao {
        font-size: 0.5rem;
        padding: 13px;
    }

    .contatos__grid {
        grid-template-columns: 160px 140px;
    }

    .apresentacao__conteudo__titulo {
        font-size: 1rem;
    }

    .apresentacao__conteudo__texto {
        font-size: 0.7rem;
    }

    .texto__contatos {
        font-size: 0.75rem;
    }

    .texto__formulario {
        font-size: 0.9rem;
    }

    .rodape  {
        font-size: 0.8rem;
    }

}

@media (min-width: 425px) {

    .titulo__cabecalho {
        font-size: 2.8rem;
    }

    .cabecalho__menu__link {
        font-size: 1rem;
    }

    .cabecalho__menu {
        gap: 25px;
    }

    .apresentacao_layout {
        gap: 2rem;
    }

    .rodape  {
        font-size: 0.9rem;
    }

}

@media (min-width: 768px) {
    
}


