/* Aplicando estilo para telas maiores que 375px */
@media (min-width: 375px) {
    /* Alterando fonte do titulo do cabeçalho */
    .titulo__cabecalho {
        font-size: 2.5rem;
    }

    /* Alterando fonte do menu navegação */
    .cabecalho__menu__link {
        font-size: .9rem;
    }

    .cabecalho__menu {
        gap: 20px;
    }

    .apresentacao__conteudo__titulo__projetos {
        font-size: 1rem;
    }

    .apresentacao__links__navegacao {
        font-size: 0.5rem;
        padding: 13px;
    }

    .contatos__grid {
        grid-template-columns: 160px 140px;
    }

    .apresentacao__conteudo__titulo {
        font-size: 1rem;
    }

    .apresentacao__conteudo__texto {
        font-size: 0.6rem;
    }

    .texto__contatos {
        font-size: 0.75rem;
    }

    .texto__formulario {
        font-size: 0.9rem;
    }

    .rodape  {
        font-size: 0.8rem;
    }

}

/* Aplicando estilo para telas maiores que 425px */
@media (min-width: 425px) {
    /* Alterando tamanho da fonte do titulo principal */
    .titulo__cabecalho {
        font-size: 2.8rem;
    }

    /* Alterando tamanho da fonte do menu navegação */
    .cabecalho__menu__link {
        font-size: 1rem;
    }

    /* Alterando espaçamento dos itens do menu navegação */
    .cabecalho__menu {
        gap: 25px;
    }

    /* Alterando espaçamento do layout da página */
    .apresentacao_layout {
        gap: 2rem;
    }
    
    /* Alterando fonte do texto do rodapé */
    .rodape  {
        font-size: 0.9rem;
    }

}

/* Aplicando estilo para telas maiores que 768px */
@media (min-width: 768px) {
    .titulo__cabecalho {
        font-size: 4.5rem;
    }

    .cabecalho__menu__link {
        font-size: 1.8rem;
    }

    .cabecalho__menu {
        gap: 30px;
        margin-bottom: 1.5rem;
    }

    .apresentacao__conteudo__titulo__principal {
        font-size: 2rem;
    } 
    
    .apresentacao__imagem {
        margin-left: 2.5rem;
    }

    .apresentacao_layout {
        gap: 3rem;
    }

    .apresentacao__conteudo__texto__principal {
        font-size: 1.3rem;
    }

    .img__hb {
        width: 33vh;
        height: 26.5vh;
        margin: 1rem 0;
    }
    
    .img__uninter {
        width: 30vh;
    }

    .apresentacao__links__subtitulo {
        font-size: 2.5rem;
    }

    .apresentacao__conteudo__titulo__projetos {
        font-size: 2rem;
    }

    .apresentacao__conteudo__subtitulo {
        font-size: 1.5rem;
    }

    .divisoria {
        display: none;
    }

    .apresentacao__conteudo__subtitulo {
        font-size: 1rem;
    }

    .conteudo__principal__formacao {
        display: grid;
        grid-template-columns: 360px 370px;
        gap: 2rem;
    }
    
    .formacoes,
    .badges__cisco,
    .certificado__alura {
        justify-content: start;
    }

    .conteudo__principal__portfolio {
        display: grid;
        grid-template-columns: 340px 370px;
        gap: 2rem;
    } 

    .orientacao__botoes__redes {
        display: flex;
        gap: 3rem;
        padding-bottom: 2rem;
        flex-direction: row;
    }

    .apresentacao__links__navegacao {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--cor-tercearia);
        width: 50%;
        text-align: center;
        border-radius: 8px;
        font-size: 1.3rem;
        font-weight: 600;
        padding: 20px;
        text-decoration: none;
        color: var(--cor-secundaria);
        font-family: var(--fonte-secundaria);
    }

    .icone__redes {
        margin-right: 1rem;
    }

    .contatos__grid {
        grid-template-columns: 420px 300px;
    }

    .apresentacao__conteudo__titulo {
        font-size: 1.2rem;
    }

    .texto__contatos {
        font-size: 1.5rem;
    }

    .apresentacao__conteudo__texto {
        font-size: .9rem;
    }

    .celular {
        font-size: 1.5rem;
    }

    .texto__formulario {
        font-size: 1.5rem;
    }

    .botão__formulario {
        width: 90px;
        height: 60px;
        font-size: 1.3em;
        font-weight: 700;
        background-color: var(--cor-secundaria);
    }

    .rodape  {
        font-size: 1.5rem;
    }

    .logo__redes__sociais {
        margin: 0.5em;
        width: 9vh;
    }

}

/* Aplicando estilo para telas maiores que 1024px */
@media (min-width: 1024px) {
    .titulo__cabecalho {
        font-size: 6rem;
    }

    .cabecalho__menu__link {
        font-size: 2.3rem;
    }

    .cabecalho__menu {
        gap: 50px;
        margin-bottom: 1.5rem;
    }

    .apresentacao {
        width: 870px;
        margin: 0 auto;
    }

    .apresentacao__conteudo__titulo__principal {
        font-size: 2.5rem;
    } 

    .apresentacao_layout {
        gap: 4rem;
    }

    .apresentacao__conteudo__texto__principal {
        font-size: 1.6rem;
    }

    .rodape  {
        font-size: 1.8rem;
    }

    .logo__redes__sociais {
        width: 10vh;
    }

}

/* Aplicando estilo para telas maiores que 1440px */
@media (min-width: 1440px) {    
    /* Aplicando layout de grid com 3 colunas */
    .conteudo__principal__portfolio {
        grid-template-columns: 340px 370px 350px;
    }
}