/* Aplicando estilo ao conteudo principal da página definindo como padrão display flex de colunas*/
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

/* Aplicando estilo ao conteudo da página, com display grid de 3 colunas alinhadas ao centro da página */
.conteudo__principal__portfolio {
    display: grid;
    grid-template-columns: 380px 380px 380px;
    justify-content: center;
    align-items: start;
    width: 700px;
    gap: 2em;
}

/* Aplicando estilo ao titulo dos projeto */
.apresentacao__conteudo__titulo__projetos {
    font-size: 1.8rem;
    font-family: var(--fonte-primaria);
    margin-bottom: 2rem;
}

/* Aplicando estilo de espaçamento do conteudo da página em 100% */
.espacamento {
    width: 100%;
}

/* Aplicando estilo dos subtitulos da página */
.apresentacao__conteudo__subtitulo {
    font-size: 1.2rem;
    font-family: var(--fonte-primaria);
}

/* Aplicando altura para imagem que está com altura menor que as demais */
.img__python {
    height: 5rem;
}

/* Aplicando margem em baixo da imagem, para imagem que está com tamanho menor que as demais */
.img__organizador {
    margin-bottom: 0.6rem;
}
