/* Aplicando estilo ao conteúdo principal da página definindo como padrão display flex de colunas e com borda */
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 2em;
    padding: .5rem;
    border: 8px groove white;
    width: 240px;
    height: 320px;
}

/* Aplicando a pseudo-classe hover(passar com o mouse sobre o elemento) para destacar os cards do portfólio dos demais cards, alterando seu tamanho e cor de fundo */
.portfolio:hover {
    background-color: var(--cor-hover-botoes);
    transition: .6s;
    transform: scale(1.15);
}

/* Aplicando estilo ao titulo dos projeto */
.apresentacao__conteudo__titulo__projetos {
    font-size: .9rem;
    font-family: var(--fonte-primaria);
    margin-bottom: 2rem;
}

/* Aplicando estilo a uma divisão entre os projetos */
.divisoria {
    margin: .5rem;
    border-color: var(--cor-secundaria);
}

/* Aplicando estilo dos subtitulos da página */
.apresentacao__conteudo__subtitulo {
    font-size: .8rem;
    font-family: var(--fonte-primaria);
}

/* Definindo margem e tamanho máximo das imagems adicionadas dos projetos */
.img__projeto {
    margin: 0 auto;
    width: 100%;
}

/* Alterando dimensões das imagens dos projetos que estão com os tamanhos diferentes que os demais */
.img__snake {
    width: 75%;
    height: 40%;
}
.img__calculadora {
    width: 60%;
    height: 45%;
}
.img__conversor {
    width: 70%;
    height: 45%;
}

/* Alterando cor padrão dos links e decoração, para padrões pré definidos no projeto */
.link__portfolio {
    text-decoration: none;
    color: var(--fonte-primaria);
}
