.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.apresentacao__conteudo__subtitulo {
    font-size: 1.2rem;
    font-family: var(--fonte-primaria);
}

.img__python {
    height: 5rem;
}

.img__organizador {
    margin-bottom: 0.6rem;
}

.conteudo__principal__portfolio {
    display: grid;
    grid-template-columns: 380px 380px 380px;
    justify-content: center;
    align-items: start;
    width: 700px;
    gap: 2em;

}
